version: '3.8'
services:


  database:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD=1453
      - POSTGRES_USER=postgres
      - POSTGRES_DB=discovery_country
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  pgdata:
