


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }

        h1 {
            color: #333;
        }

        #tokenDisplay {
            margin-top: 20px;
        }

        #tokenValue {
            font-weight: bold;
            color: green;
        }
    </style>
    <title>Login Success</title>
    <div>
        <h4><a th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>
    </div>
</head>
<body>
<div class="container text-center">
    <div>
        <h2>Login Successful!</h2>
        <br/>
    </div>

    <div id="tokenDisplay">
        <h3>Your Tokens:</h3>
        <p>Token: <span id="tokenValue"></span></p>
        <p>Refresh Token: <span id="refreshTokenValue"></span></p>
    </div>

    <br/>
    <div>
        <h4><a href="/swagger-ui/index.html">Go to Swagger</a></h4>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        const refreshToken = urlParams.get('refreshToken');

        if (token) {
            document.getElementById('tokenValue').textContent = token;
        } else {
            document.getElementById('tokenValue').textContent = 'Token not found';
        }

        if (refreshToken) {
            document.getElementById('refreshTokenValue').textContent = refreshToken;
        } else {
            document.getElementById('refreshTokenValue').textContent = 'Refresh Token not found';
        }
    });
</script>

</body>
</html>
